nav(class='nav nav-tabs')
  li(role='presentation' id='page-home')
    a(href='/') Home
  li(role='presentation' id='page-movie' class="dropdown")
    a(class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") movie
      span(class="caret")
    ul(class="dropdown-menu")  
      li
        a(href='/admin/movie/') List
      li
        a(href='/admin/movie/create') Create
  li(role='presentation' id='page-user' class="dropdown")
    a(class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") user
      span(class="caret")
    ul(class="dropdown-menu")  
      li
        a(href='/admin/user/') List
      li
        a(href='/admin/user/create') Create        
