nav(class='nav nav-tabs')
  li(role='presentation' id='page-home')
    a(href='/movie') Home
  li(role='presentation' id='page-list')
    a(href='/admin/movie/list') List
  li(role='presentation' id='page-create')
    a(href='/admin/movie/create') Create
