include ../../common/header
block content
  include ../common/nav    
  section(class='container')
    table(class='table table-bordered table-hover text-center')
      tr
        th name
        th created_at
      each user in users
        tr
          td #{user.name}
          td #{moment(user.meta.created_at).format('YYYY MM DD')}
  include ../../common/footer        
        