include ../../common/header
  include ./common
    block content 
      input(type='hidden' id='pagesign' value='data')
      div(class='col-md-11 col-md-offset-1 col-sm-12')
        div(class='acc media')
          div(class="media-left")
            span(class='glyphicon glyphicon-envelope')
          div(class="media-body")
            if(account.email)
              h5(class="media-heading") 邮箱 
                b #{account.email} 
                已绑定
                button(type='button' class='opera btn btn-default btn-xs' data-toggle="modal" data-target="#emailModal") 更改
              p(class='font-size-small grey') 可用邮箱加密码登录学疯网，可用邮箱找回密码
            else
              h5(class="media-heading") 邮箱未绑定
                button(type='button' class='opera btn btn-primary btn-xs' data-toggle="modal" data-target="#emailModal") 立即绑定
              p(class='font-size-small grey') 可用邮箱加密码登录学疯网，可用邮箱找回密码
        div(class='media')
          div(class="media-left")
            span(class='glyphicon glyphicon-phone')
          div(class="media-body")
            if(account.phone)
              h5(class="media-heading") 手机
                b #{account.phone}  
                已绑定
                button(type='button' class='opera btn btn-default btn-xs' data-toggle="modal" data-target="#phoneModal") 更改
              p(class='font-size-small grey') 可用手机号加密码登录学疯网，可通过手机号找回密码
            else
              h5(class="media-heading") 手机未绑定
                button(type='button' class='opera btn btn-primary btn-xs' data-toggle="modal" data-target="#phoneModal") 立即绑定
              p(class='font-size-small grey') 可用手机号加密码登录学疯网，可通过手机号找回密码
        div(class='media')
          div(class="media-left")
            span(class='glyphicon glyphicon-lock')
          div(class="media-body")
            h5(class="media-heading") 密码已设置
              button(type='button' class='opera btn btn-default btn-xs') 修改
            p(class='font-size-small grey') 用于保护帐号信息和登录安全
      div(class='modal fade' id='emailModal' tabindex='-1' role='dialog' aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
              h4(class="modal-title" id="myModalLabel") 绑定/更改邮箱
            div(class='modal-body')
              div(class="alert alert-warning hidden" id='warning' role="alert")
              div(class="alert alert-success hidden" id='success' role="alert")
              form(class='form-horizontal' action='/account/phonemail' method='post' id='emailform')
                input(type='hidden' name='id' value='#{account._id}')
                div(class='form-group')
                  div(class='col-sm-12')
                    input(type='email' class='form-control' id='email'  name='email' placeholder='要绑定的邮箱地址或要更改的新邮箱地址' required)
                div(class='form-group')
                  div(class='col-sm-6 col-xs-6')
                    input(type='text' class='form-control' id='ecode'  name='vcode' placeholder='邮箱验证码' required)
                  div(class='col-sm-6 col-xs-6')
                    button(type='button' class='form-control btn btn-default' id='sendecode') 发送邮箱验证码
                div(class='form-group')
                  div(class='col-sm-12')
                    button(type='submit' class='btn btn-primary') 确定
      div(class='modal fade' id='phoneModal' tabindex='-1' role='dialog' aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
              h4(class="modal-title" id="myModalLabel") 绑定/更改手机
            div(class='modal-body')
              div(class="alert alert-warning hidden" id='warning1' role="alert")
              div(class="alert alert-success hidden" id='success1' role="alert")
              form(class='form-horizontal' action='/account/phonemail' method='post' id='phoneform')
                input(type='hidden' name='id' value='#{account._id}')
                div(class='form-group')
                  div(class='col-sm-12')
                    input(type='number' class='form-control' id='phone'  name='phone' placeholder='要绑定的是手机号或要更改的新手机号' required)
                div(class='form-group')
                  div(class='col-sm-6 col-xs-6')
                    input(type='text' class='form-control' id='pcode'  name='vcode' placeholder='短信验证码' required)
                  div(class='col-sm-6 col-xs-6')
                    button(type='button' class='form-control btn btn-default' id='sendpcode') 发送短信验证码
                div(class='form-group')
                  div(class='col-sm-12')
                    button(type='submit' class='btn btn-primary') 确定                
  include ../../common/footer
  script(src="/js/common/jquery.validate.min.js")
  script(src='/js/common/jquery.form.js')
  script(src='/js/home/check.js')
  script(src='/js/home/uaside.js')
  script(src='/js/home/account.js')
 