include ../../common/header
  include ./common
    block content 
      input(type='hidden' id='pagesign' value='data')
      div(class='col-md-11 col-md-offset-1 col-sm-12')
        div(class='media')
          div(class="media-left")
            span(class='glyphicon glyphicon-envelope')
          div(class="media-body")
            if(account.email)
              h5(class="media-heading") 邮箱 
                b #{account.email}
                已绑定
              p(class='font-size-small grey') 可用邮箱加密码登录学疯网，可用邮箱找回密码
            else
              h5(class="media-heading") 邮箱未绑定
              p(class='font-size-small grey') 可用邮箱加密码登录学疯网，可用邮箱找回密码
        div(class='media')
          div(class="media-left")
            span(class='glyphicon glyphicon-phone')
          div(class="media-body")
            if(account.phone)
              h5(class="media-heading") 手机
                b #{account.phone} 
                已绑定
              p(class='font-size-small grey') 可用手机号加密码登录学疯网，可通过手机号找回密码
            else
              h5(class="media-heading") 手机未绑定
              p(class='font-size-small grey') 可用手机号加密码登录学疯网，可通过手机号找回密码
        div(class='media')
          div(class="media-left")
            span(class='glyphicon glyphicon-lock')
          div(class="media-body")
            h5(class="media-heading") 密码已设置
            p(class='font-size-small grey') 用于保护帐号信息和登录安全
  include ../../common/footer
  script(src='/js/home/uaside.js')
 