link(rel='stylesheet' href='/libs/bootstrap/dist/css/docs.min.css')
section(class='container')
  include ../common/nav
  div(class='row')
    div(class='col-md-2 col-sm-3 col-xs-4')
      nav(class='bs-docs-sidebar affix' role="complementary" id='sidenav')
        ul(class='nav bs-docs-sidenav')
          li
            a(href='/user/#{user._id}') 主页
          li    
            a(href='/comments?uid=#{user._id}') 评论
          li 
            a(href='javascript:') 我的资料
            ul(class='nav')
              li
                a(href='/usermsg?uid=#{user._id}') 基本信息
              li
                a(href='/user/#{user._id}') 账户信息
    div(class='col-md-10 col-sm-9 col-xs-8')
      block content
script(src='/js/home/affix.js')
