link(rel='stylesheet' href='/css/home/user.css')
section(class='container')
  include ../common/nav
  div(class='row')
    div(class='col-md-2 col-sm-3 col-xs-4')
      nav(class='bs-docs-sidebar affix' role="complementary" id='sidenav')
        ul(class='nav bs-docs-sidenav list-unstyled')
          li
            a(href='/user/#{user._id}') 主页
          li 
            a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") 资料
            ul(id="collapseOne" class="colnav panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne")
              li
                a(href='/usermsg?uid=#{user._id}') 基本信息
              li
                a(href='/user/#{user._id}') 账户信息
          li 
            a(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") 足迹
            ul(id="collapseTwo" class="colnav panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo")
              li
                a(href='') 课程
              li
                a(href='/comments?uid=#{user._id}')评论         
    div(class='col-md-10 col-sm-9 col-xs-8')
      block content
