include ../../common/header
  include ./common
    block content 
      input(type='hidden' id='pagesign' value='data')
      form(class="form-horizontal" role="form" action='/usermsg' method='post' id='form' enctype='multipart/form-data')
        input(type='hidden' name='uid' id='uid' value='#{uid}')
        div(class='form-group')
          label(class="col-md-2 col-sm-3 control-label") 头像
          div(class='col-md-10 col-sm-9')
            img(src='http://xuefengoss.oss-cn-shanghai.aliyuncs.com/user/avatar/defaul.jpg' class='img-rounded' id='avathum' title='更换头像' width='140' height='140')
            input(type='file' id='upavatar' accept="image/*")
            input(type='hidden' name='avatar' id='avatar' value='http://xuefengoss.oss-cn-shanghai.aliyuncs.com/user/avatar/defaul.jpg')
        div(class='form-group')
          label(for='name' class='col-md-2 col-sm-3 control-label') 真实姓名
          div(class='col-md-10 col-sm-9')
            input(type='text' name='name' id='name' class='form-control' value='')
        div(class='form-group')
          label(for='sex' class='col-md-2 col-sm-3 control-label') 性别
          div(class='col-md-10 col-sm-9')
            div(class='radio')
              label
                input(type='radio' name='sex' value='man')
                b 男
              &nbsp;&nbsp; 
              label
                input(type='radio' name='sex' value='woman')
                b 女    
        div(class='form-group')
          label(for='position' class='col-md-2 col-sm-3 control-label') 职位
          div(class='col-md-10 col-sm-9')
            select(class="form-control" id='position' name='position')
              option(value='undefined') 请选择
              option(value='web前端工程师') web前端工程师
              option(value='php开发工程师') php开发工程师
              option(value='java开发工程师') java开发工程师
              option(value='android开发工程师') android开发工程师
              option(value='ios开发工程师') ios开发工程师
              option(value='linux系统工程师') linux系统工程师
              option(value='全栈工程师') 全栈工程师
              option(value='软件测试工程师') 软件测试工程师
              option(value='交互设计师') 交互设计师
              option(value='UI设计师') UI设计师
              option(value='数据库工程师') 数据库工程师
              option(value='产品经理') 产品经理
        div(class='form-group')
          label(for='s1' class='col-md-2 col-sm-3 control-label') 地址
          div(class='col-sm-3')
            select(class="form-control" name='province' id='s1')
              option 请选择 
          div(class='col-sm-3')
            select(class="form-control" name='city' id='s2')
              option 请选择 
          div(class='col-sm-3')
            select(class="form-control" name='county' id='s3')
              option 请选择
        div(class='form-group')
          label(for='signature' class='col-md-2 col-sm-3 control-label') 个性签名
          div(class='col-md-10 col-sm-9')
            textarea(class='form-control' id='signature' name='signature')
        div(class='form-group')
          label(for='sub' class='col-md-2 col-sm-3 control-label')
          div(class='col-md-10 col-sm-9')
            button(type='button' id='sub' class='btn btn-default') 保存
  include ../../common/footer
  script(src='/js/common/jquery.form.js')
  script(src='/libs/ali-oss/dist/aliyun-oss-sdk.min.js')
  script(src='/js/common/ossWrapper.js')
  script(src='/js/common/deleteFromAli.js')
  script(src='/js/common/uploadToAli.js')
  script(src='/js/home/geo.js')
  script(src='/js/home/uaside.js')
  script(src='/js/home/udata.js')