include ../../common/header
  include ./common
    block content 
      input(type='hidden' id='pagesign' value='data')
      form(class="form-horizontal" role="form")
        div(class='form-group')
          label(for='avatar' class="col-md-2 col-sm-3 control-label") 头像
          div(class='col-md-10 col-sm-9')
            img(src="..." alt="..." class="img-rounded")
        div(class='form-group')
          label(for='name' class='col-md-2 col-sm-3 control-label') 真实姓名
          div(class='col-md-10 col-sm-9')
            input(type='text' name='name' id='name' class='form-control')
        div(class='form-group')
          label(for='sex' class='col-md-2 col-sm-3 control-label') 性别
          div(class='col-md-10 col-sm-9')
            div(class='radio')
              label
                input(type='radio' name='sex' value='男' id='man')
                b 男
              label
                input(type='radio' name='sex' value='女' id='woman')
                b 女    
        div(class='form-group')
          label(for='position' class='col-md-2 col-sm-3 control-label') 职位
          div(class='col-md-10 col-sm-9')
            selec(class="form-control" id='position' name='position')
              option 请选择
        div(class='form-group')
          label(for='province' class='col-md-2 col-sm-3 control-label') 地址
          div(class='col-sm-3')
            selec(class="form-control" name='province' id='province')
              option 请选择 
          div(class='col-sm-3')
            selec(class="form-control" name='city' id='city')
              option 请选择 
          div(class='col-sm-3')
            selec(class="form-control" name='county' id='county')
              option 请选择
        div(class='form-group')
          label(for='signature' class='col-sm-2 control-label') 个性签名
          div(class='col-md-10 col-sm-9')
            textarea(class='form-control' id='signature' name='signature')
  include ../../common/footer 
  script(src='/js/home/uaside.js')