include ../../common/header
  include ./common
    block content 
      input(type='hidden' id='pagesign' value='index')
      h2 hello 
  include ../../common/footer
  script(src='/js/home/uaside.js')
 