include ../../common/header
  include ./common
    block content 
      input(type='hidden' id='pagesign' value='data')
      div(class='col-md-11 col-md-offset-1 col-sm-12')
        h1 hello #{data.name}
  include ../../common/footer
  script(src='/js/home/uaside.js')
 