include ../../common/header
  include ./common
    block content 
      link(rel='stylesheet' href='/css/home/user.css')
      input(type='hidden' id='pagesign' value='footprint')
  include ../../common/footer 