include ../../common/header
  block content
    section(class='container')
      include ../common/nav
      div(class="alert alert-warning hidden" id='warning' role="alert")
      div(class="alert alert-success hidden" id='success' role="alert")
      form(class="form-horizontal" action='/dologin' method='post' id='form')
        div(class="form-group")
          label(for="name" class="col-sm-2 control-label") 账号
          div(class="col-sm-10")
            input(type="text" class="form-control" id="name" name='account' placeholder='用户名/邮箱/手机号')
        div(class='form-group')
          label(for='password' class='col-sm-2 control-label') 密码
          div(class='col-sm-10')
            input(type='password' class='form-control' id='password' placeholder='Password' name='password')
        div(class='form-group')
          lael(for='sub' class='col-sm-2')
          div(class='col-sm-10')
            button(type='button' id='sub' class='btn btn-primary') 登录
            a(href='' class='btn-xs') 忘记密码？
  include ../../common/footer          
  script(src='/js/common/jquery.form.js')
  script(src='/js/home/user.js')