.list-cates{margin-left:20px; padding-bottom: 10px; border-bottom: #ccc solid 1px; margin-bottom: 15px; }
.pagination{margin-left:20px;}
.badge{margin-left: 10px;}

.replyForm{margin-top:9px;}
.list-group{margin-bottom:0; margin-top:10px;}
.list-group-item-text{margin-bottom:5px;}
.nocmts{color:#999;}
.loc{margin:15px auto;}