nav(class='navbar navbar-default')
  div(class='container-fluid')
    div(class='navbar-header')
      button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded="false")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/" id='page-home') Home
    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      ul(class='nav navbar-nav')
        li(role='presentation' id='page-movie')
          a(href='/movie') Movie
      ul(class='nav navbar-nav navbar-right')
        if(user)
          li(class="dropdown")
            a(href="#" id='user' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") #{user.name} 
              span(class="caret")
            ul(class="dropdown-menu")
              li
                a(href="/user?uid=#{user._id}")
              li
                a(href="/logout") Logout
        else        
          li(role='presentation' id='page-login')
            a(href='/login') Login
          li(role='presentation' id='page-register')  
            a(href='/register') Register
      